doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fontawesome-all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="javascripts/tweenmax.min.js")
    script(src="javascripts/forerunnerdb.js")
    script(src="javascripts/createdb.js")
    script(src="javascripts/canvas.js")
    script(src="javascripts/websocket.js")
    script(src="javascripts/main.js")
